{% extends 'base/base.html' %}

{% block contenido %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">LISTA DE USUARIOS</h1>
</div>

<table>
    <caption>ALUMNOS</caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>NOMBRE DE USUARIO</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <th>{{usuario.first_name}}</th>
                <th>{{usuario.last_name}}</th>
                <th>{{usuario.username}}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}